body {
	margin: 0;
	background: #FFE5B4;
}


.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFB84D;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
}

.container  img {
	width: 50%;
	font-size: 20px;
	color: #333;
}

.nav ul {
	display: flex;
	list-style: none;
	gap: 25px;
	padding: 0;
	margin: 0;
	margin-right: 30px;
}

.logo {
	margin-left: 30px;
}

.nav li {
	margin: 0;
}

.nav a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;    
  text-decoration-color: white;  
  background: none;              
  border-radius: 0;             
  padding: 10px;                
}

.cards {
	display: grid;
	gap: 10px;
	padding-top: 100px;
	margin-bottom: 30px;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 100vh;
	font-size: 25px;
	width: 99vw;
}

.card {
	background: #FFD580;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	justify-content:center;
	align-items: center;
	margin-right: 0;
	margin-left: 0;	
	height: 100vh;
	display: grid;
}

#Contact a {
	text-decoration: none;
	color: black;
}

.footer {
	display: flex;
	position: fixed;
	padding: 15px; 
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
	height: 20px;
	justify-content: center;
	align-items: center;
}

#Portofolio a {
	text-decoration: none;
	color: black;
	outline: 0 2px 5px rgba(0,0,0,0.1);
}

#Portofolio a:hover {
	background: white; 
	border-radius: 5px; 
	padding: 10px;
	
}

.tools {
	background: white; 
	border-radius: 5px; 
	padding: 10px;
}